rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents/pledges/{pledgeID} {
    allow read;
    allow create;
    allow update, delete: if false;
  }
}